{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
<div class="block">
  <div class="wrapper-lg">
    <div class="flex flex-column flex-row-m">
      <div class="w-100 w-60-m">
        <div class="contact-form">
          <div class="contact-form__wrapper">
            <h2 id="contact-heading" class="h5 text-primary">
              Contact Matthews Tire
            </h2>
            {{ partialCached "contact-us/contact-form" . }}
          </div>
        </div>
      </div>
      <div class="w-100 w-40-m flow">
        {{ with .Params.locations_block }}
        <h2 class="text-primary">{{ .heading }}</h2>
        {{ .body | markdownify }}
        {{ if .button }}
        <a href="{{ .button_url }}" class="btn btn-primary">{{ .button_text }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}