.brand-card {
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    display: grid;
    place-items: center;
    height: 150px;

    img {
        width: auto;
        max-width: 150px;
        height: auto;
        max-height: 75px;

        @include breakpoint(md) { 
            max-width: 225px;
            max-height: 100px;
        }
    }
}