.brand-card {
    border: 1px solid $light-gray;
    display: grid;
    place-items: center;
    height: 150px;

    img {
        width: auto;
        max-width: 70%;
        height: auto;
        max-height: 60%;
    }
}