.breadcrumbs {
  position: relative;
  z-index: 3;
  color: $light-gray;

  svg {
    position: relative;
    top: -2px;
    stroke: $light-gray;
    width: $ic-100;
    height: $ic-100;
  }

  &__nav {
    padding: $ic-100 0;
    width: 100%;
    margin: 0;
  }

  &__list-item {
    list-style-type: none;
    position: relative;
    font-size: $ic--100;
    max-width: none;
    margin: 0;

    &::after {
      position: absolute;
      content: "/";
    }

    a {
      color: $light-gray;
      text-decoration: none;
      font-size: $ic--100;
      padding: 0 $ic--100;
    }
  }

  .active {
    &::after {
      position: absolute;
      content: "";
    }

    a {
      color: rgba($light-gray, 0.6);
      pointer-events: none;
    }
  }
}
