.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: $ic-100;
  font-weight: 700;
  padding: $ic-100 $ic-400;
  text-decoration: none;
  transition: $transition;
  background-size: 400% 100%;
  border-radius: 5px;
  text-align: center;

  svg {
    height: $ic-100;
    width: auto;
    position: relative;
    top: 1px;
    margin-right: 8px;
    transition: fill $transition;
  }

  &:hover,
  &:focus {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    color: $white;
  }
}

.btn-primary {
  color: $white;
  background-image: $primary-gradient;
  box-shadow: 6px 6px 6px rgba($primary-color, .15);

  svg {
    fill: $white;
  }
}

.btn-secondary {
  color: $primary-color;
  background-image: $secondary-gradient;
  box-shadow: 6px 6px 6px rgba($accent-color, .15);

  svg {
    fill: $primary-color;
    height: $ic-100;
    width: auto;
    position: relative;
    top: 1px;
    margin-right: 8px;
    transition: fill $transition;
  }

  &:hover,
  &:focus {
    color: $white;

    svg {
      fill: $white;
    }
  }
}

.btn-white {
  color: $primary-color;
  background-color: $white;
  border: 1px solid $white;
  outline: 1px solid $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    outline: 1px solid $white;
    outline-offset: -6px;
  }
}

.btn-text-primary {
  color: $primary-color;

  &:hover,
  &:focus {
    color: $white;
  }
}

.btn-text-secondary {
  color: $secondary-color;

  &:hover,
  &:focus {
    color: $white;
  }
}

button {
  cursor: pointer;
}
