.card {
  position: relative;
  background-color: $white;
  transition: .3s ease-out;

  .cover-image {
    height: 250px;
    position: relative;
  }  

  &__icon-group {
    position: absolute;
    bottom: -24px;
    left: 0;
    overflow: hidden;
    padding: $ic-100 0 $ic--100 0;

    .mt-swoosh {
      width: 105%;
      height: auto;
      position: relative;
      left: -5px;
    }
  }

  &__icon {
    display: grid;
    place-items: center;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: $ic-800;
    width: $ic-800;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba($primary-color, .5);

    svg {
      height: $ic-600;
      width: $ic-600;
    }
  }

  &__meta {
    position: absolute; 
    top: $ic--100;
    left: $ic--100;
    border-radius: 5px;
    padding: 4px $ic--200;
  }

  &__body {
    padding: 0 $ic-200;
    margin-bottom: $ic-600;
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    height: $ic-600;
    width: $ic-600;
    display: grid;
    place-items: center;

    svg {
      fill: $accent-color;
      height: $ic-400;
      width: $ic-400;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 6px 6px 6px rgba($primary-color, .35);
  }
}

.card--blog {
  .cover-image {
    height: 300px;
  } 
}
