.home-hero,
.hero {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: $white;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba($primary-color, 0.35);
  }

  .btn + .btn {
    margin-top: $ic-300;

    @include breakpoint(sm) {
      margin-top: 0;
      margin-left: $ic-300;
    }
  }
}

.home-hero {
  height: 80vh;

  &__content {
    h1 {
      max-width: 20ch;
    }

    p {
      max-width: 975px;
      font-size: clamp($ic-100, 3vw, $ic-300);
    }

    h1,
    p {
      margin: $ic-300 auto;
    }
  }
}

.hero {
  height: 60vh;

  @include breakpoint(sm) {
    min-height: 600px;
  }

  &__mt-swoosh {
    position: absolute;
    bottom: -9px;
    right: -1px;
    z-index: 1;

    svg {
      max-width: 100%;
      width: 100vw;
    }
  }
}

.services-hero {
  .icon-large {
    display: none;
  }
}

.hero__ase-badge {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($black, .7);
  padding: .5rem $ic-100;
  max-width: 500px;

  .hero__ase-badge-icon {
    svg {
      height: $ic-700;
      width: $ic-700;
    }
  }

  a {
    margin: 0 $ic-100;

    svg {
      fill: $white;
    }

    &:hover, 
    &:focus {
      svg {
        fill: $secondary-color;
      }
    }
  }
}