.image-card {
    border-radius: $radius;

    .cover-image {
        height: 250px;

        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &__body {
        padding: $ic-200;
    }
}