.mt-locations-map {
    position: relative;
    display: grid;
    place-items: center;

    img {
        position: absolute;
        opacity: 0;
        top: -1%;
        left: -1%;
    }

    svg {
        height: 600px;
        width: auto;
    }
}

.mt-location {
    position: absolute;
    height: 18px;
    width: 18px;

    &__btn {
        // background-color: $accent-color;
        // border: 5px solid $primary-color;
        border: 3px solid $white;
        background-color: $primary-color;
        outline: 2px solid $primary-color;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        position: absolute;
    }

    &__content {
        padding: $ic-100 $ic-400;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        width: max-content;
        z-index: 8;

        &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border-width: 10px 10px 0;
            border-style: solid;
            border-color: $primary-color transparent transparent;
            content: '';
        }

        a {
            color: $white;

            svg {
                fill: $white;
                height: $ic--100;
                width: $ic--100;
                margin-left: 8px;
                transition: transform .3s ease-out;
            }

            &:hover, 
            &:focus {
                svg {
                    transform: translateX(8px);
                }
            }
        }
    }
}

// .mt-location--appleton-east {
//     top: 55%;
//     right: 24%;
// }

// .mt-location--fond-du-lac {
//     top: 67%;
//     right: 26%;
// }

// .mt-location--green-bay {
//     top: 50%;
//     right: 21%;
// }

// .mt-location--menasha {
//     top: 56%;
//     right: 28%;
// }

// .mt-location--waupaca {
//     top: 52%;
//     right: 38%;
// }

.mt-location--appleton-east {
    top: 58%;
    right: 32%;
}

.mt-location--appleton-west {
    top: 58%;
    right: 35%;
}

.mt-location--commercial {
    top: 55%;
    right: 33.5%;
}

.mt-location--fond-du-lac {
    bottom: 26%;
    left: 64.5%;
}

.mt-location--green-bay {
    top: 52%;
    right: 30%;
}

.mt-location--menasha {
    top: 58%;
    right: 33.5%;
}

.mt-location--waupaca {
    top: 54%;
    left: 54%;
}

.marker-active + .mt-location__content {
    display: block;
}