.page-block {
    &__inner {
        background-color: $primary-color; 
        position: relative;
    }

    .text-block {
        padding: clamp($ic-500, 6%, $ic-1000) clamp($ic-300, 2%, $ic-600);
    }

    .image-block {
        @include breakpoint(md) {
          position: absolute;
          right: 0;
          height: 100%; 
          overflow: hidden;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .flex-row-reverse-m {
      background-color: $primary-color;

        .image-block {
            left: 0;
            margin-left: 0;
        }
    }
}