.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  .pagination__next,
  .pagination__previous,
  .pagination__numbers {
    font-size: $ic-100;
    font-family: $secondary-font;
    padding: 0.875rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: 0.3s ease-out;
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: $white;
    background: $primary-color;

    &:hover,
    &:focus {
      background: $secondary-color;
    }

    svg {
      fill: $white;
      stroke: $white;
      width: 20px;
      transition: 0.3s ease-out;
    }
  }

  &__next {
    svg {
      margin-left: $ic-100;
    }

    &:hover,
    &:focus {
      svg {
        transform: translateX(5px);
      }
    }
  }

  &__numbers {
    margin: 0 5px;
  }

  &__current {
    opacity: 0.7;
  }

  &__previous {
    svg {
      margin-right: 5px;
    }

    &:hover,
    &:focus {
      svg {
        transform: translateX(-5px);
      }
    }
  }
}
