.search {
  display: none;

  @include breakpoint(md) {
    display: flex;
    opacity: 0;
    transform: translateY(-150%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    z-index: 10;
    transition: 0.5s ease-out;
  }

  &__icon-wrapper {
    height: 100%;

    svg {
      height: $ic-400;
      width: $ic-400;
      fill: $black;
    }
  }
}

.search__open,
.search__close {
  background: transparent;
  border: none;
}

.search__open {
  position: relative;
  top: -6px;
  width: $ic-200;
  height: $ic-200;
  padding: 0;

  svg {
    width: $ic-200;
    height: $ic-200;
    fill: $secondary-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.search,
.aa-Form,
.search__icon-wrapper {
  background: $white !important;
}

.aa-Autocomplete {
  width: 100%;
}

.aa-Form {
  height: 72px !important;
  border: none !important;
}

.aa-InputWrapperPrefix,
.aa-InputWrapper,
.aa-Input {
  height: 100% !important;
}

.aa-Autocomplete .aa-Form .aa-InputWrapper .aa-Input,
.aa-DetachedFormContainer .aa-Form .aa-InputWrapper .aa-Input,
.aa-Input::placeholder {
  color: $primary-color !important;
}

.aa-SubmitIcon,
.aa-ClearIcon {
  fill: $primary-color !important;
}

.aa-InputWrapperSuffix {
  display: none !important;
}

.has-search-open {
  .nav-list {
    opacity: 0;
  }

  .search {
    opacity: 1;
    transform: translateY(0%);
  }
}
