.share-this {
  display: none;

  @include breakpoint(sm) {
    display: flex;
    margin-bottom: 2rem;
  }
}

ul.share-buttons {
  list-style: none;
  padding: 0;

  a {
    padding: 0 2rem;
    text-decoration: none;

    &:hover,
    &:focus {
      svg {
        fill: $secondary-color;
      }
    }
  }

  svg {
    height: 25px;
    width: auto;
    fill: $secondary-color;
    transition: 0.3s ease;
  }
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
