.testimonials {
    min-height: 650px; 

    .hero__overlay {
        background-color: rgba($primary-color, .9);
    }
}

.testimonial {
    &__stars {
        svg {
            height: $ic--100;
            width: auto;
            fill: $accent-color;
        }
    }
}