<!DOCTYPE html>
<html lang="en">
{{ block "head" . }}{{ partial "head" . }}{{ end }}
{{ $namespace := lower .Page.Title }}
{{ $mainClass := lower .Page.Title }}

<body class="{{ anchorize $mainClass }} {{ .Params.page_class }}" data-instant-intensity="viewport">
  <div class="site-wrap">
    {{ block "header" . }}{{ partialCached "header" . }}{{end}}
    <main id="main-content" class="site-main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "locations" . }}{{ partialCached "locations" . }}{{ end }}
    {{ if eq .Title "Find Tires" }}
    <!-- Tires Anytime 3.0 Tire Widget -->
    <script src="https://ta3.tiresanytime.com/app/widget/searchWidget.js" type="text/javascript"></script>
    {{ end }}
    {{ block "footer" . }}{{ partialCached "footer" . }}{{end}}
  </div>
</body>

</html>