<!DOCTYPE html>
<html lang="en">
{{ block "head" . }}{{ partial "head" . }}{{ end }}
{{ $namespace := lower .Page.Title }}
{{ $mainClass := lower .Page.Title }}

<body>
  <div class="site-wrap">
    {{ block "header" . }}{{ partial "header" . }}{{end}}
    <main id="main-content" class="site-main {{ .Params.page_class }} {{ anchorize $mainClass }}" role="main">
      {{ partial "breadcrumbs" . }}
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>
</body>

</html>