<!DOCTYPE html>
<html lang="en">
{{ block "head" . }}{{ partial "head" . }}{{ end }}
{{ $namespace := lower .Page.Title }}
{{ $mainClass := lower .Page.Title }}

<body class="{{ anchorize $mainClass }} {{ .Params.page_class }}" data-instant-intensity="viewport">
  <div class="site-wrap">
    {{ block "header" . }}{{ partialCached "header" . }}{{end}}
    <main id="main-content" class="site-main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "locations" . }}{{ partialCached "locations" . }}{{ end }}
    {{ block "footer" . }}{{ partialCached "footer" . }}{{end}}
  </div>
</body>

</html>