<article class="card card--blog flow no-decoration shadow-1 fs-100">
	<a href="{{ .Permalink }}" class="no-decoration">
		<div class="cover-image">
			<img src="{{ .Permalink }}{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}">
			<div class="card__icon-group w-100">
				{{ partialCached "svg-icons/matthews-partial-swoosh.svg" . }}
				<div class="card__icon bg-primary">
					{{ partialCached "svg-icons/oil-changes.svg" . }}
				</div>
			</div>
			{{ if .Params.Categories }}
			{{ range $index, $elements := .Params.Categories }}
			<div class="card__meta bg-primary text-white fs-100 fw-700">
				<span class="categories">{{ if ne $index 0 }}{{ end }}{{ . | title }}</span>
			</div>
			{{ end}}
			{{ end }}				
		</div>
		<div class="card__body flow">
			<h3 class="h5 text-primary">{{ .Title }}</h3>
			<p class="text-black">{{ if .Params.seo.meta_description }}{{ .Params.seo.meta_description | safeHTML }}{{ else }}{{ .Summary  | safeHTML }}{{ end }}</p>
		</div>
		<div class="card__arrow bg-primary">
			{{ partialCached "svg-icons/double-chevron-right.svg" . }}
		</div>
	</a>
</article>