<article class="card flow no-decoration shadow-1 fs-100">
	<a href="{{ .Permalink }}" class="no-decoration">
		<div class="cover-image">
			<img src="{{ .Permalink }}{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}">
			<div class="card__icon-group w-100">
				{{ partialCached "svg-icons/matthews-partial-swoosh.svg" . }}
				<div class="card__icon bg-primary">
					{{ partialCached "svg-icons/oil-changes.svg" . }}
				</div>
			</div>
		</div>
		<div class="card__body flow">
			<h3 class="text-primary">{{ .Title }}</h3>
			<p>{{ .Params.meta_description | markdownify }}</p>
		</div>
		<div class="card__arrow bg-primary">
			{{ partialCached "svg-icons/double-chevron-right.svg" . }}
		</div>
	</a>
</article>