.pre-footer .associations {
  display: grid;
  gap: $ic-400;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint(sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(6, 1fr);
  }

  img {
    max-height: 70px;
    width: auto;
    margin: 0 auto;
  }
}

.footer {
  background-color: $black;
  background-image: url("/uploads/blue-generic-swoosh-background.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  color: $white;
  font-size: $ic-100;

  &__columns {
    gap: $ic-300;
  }

  &__col {
    flex: 1 1 45%;

    @include breakpoint(md) {
     flex: 1;
    }
  }

  &__col:first-of-type {
    flex: 1 1 100%;

    @include breakpoint(md) {
      flex: 1;
     }
  }

  .footer__col + .footer__col {
    @include breakpoint(md) {
      margin-left: $ic-300;
    }
  }

  &__body,
  &__bottom {
    ul {
      list-style: none;
      padding: 0;
      margin: $ic-300 0;

      li + li {
        margin-top: .5rem;
      }

      a {
        color: $white;
        text-decoration: none; 
      }
    }
  }

  &__bottom {
    ul {
      margin: $ic-100 0;

      @include breakpoint(md) {
        margin: 0;
      }

     li {
      @include breakpoint(md) {
        margin-left: .5rem;
      }
     }

      li + li {
        margin-top: 0;
        margin-left: .5rem;

        @include breakpoint(md) {
          margin-top: 0;
        }
      }
    }
  }

  .copyright {
    font-size: 14px;
    padding: $ic-100 0;
    width: 100%;

    p {
      margin: 0;
    }
  }

  .credits {
    @include breakpoint(md) {
      margin-left: auto; 
    }

    a {
      color: $white;
      text-decoration: none; 
    }
  }
}