<section aria-labelledby="conditions-heading" class="block bg-gray">
    <div class="wrapper-lg">
        {{ with .Params.conditions_block }}
        <h2 id="conditions-heading" class="text-primary">{{ .heading }}</h2>
        <p>{{.body }}</p>
        <div class="block-sm">
            <div class="grid-3">
                {{ range .conditions }}
                <div class="image-card bg-white shadow-1 fs-100">
                    <div class="cover-image">
                        <picture>
                            <source srcset="https://matthewstire.imgix.net{{ .image_url }}?fm=avif&q=75&width=500&height=300" type="image/avif">
                        
                            <source srcset="https://matthewstire.imgix.net{{ .image_url }}?fm=webp&q=75&width=500&height=300" type="image/webp">
                        
                            <source srcset="https://matthewstire.imgix.net{{ .image_url }}?fm=jpg&q=75&width=500&height=300" type="image/jpg">
            
                            <img src="https://matthewstire.imgix.net{{ .image_url }}" width="500" height="300" alt="{{ .image_alt }}">   
                        </picture>
                    </div>
                    <div class="image-card__body">
                        <h3 class="text-primary">{{ .heading }}</h3>
                        <p>{{ .body }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        <div class="text-center">
            <a href="/schedule-appointment/" class="btn btn-primary">Schedule Your {{ .Params.hero.heading }}</a>
        </div>
    </div>
</section>