{{ $heroClass := lower .Page.Title }}
<div class="{{ anchorize $heroClass }}-hero hero">
  {{ partial "hero-image" . }}
  <div class="hero__overlay flex flex-center">
    <div class="hero__ase-badge flex-center">
      <div class="hero__ase-badge-icon">
        {{ partialCached "svg-icons/ase-certified-blue.svg" . }}
      </div>
      <a href="/ase-certification/" class="simple-arrow-link text-white no-decoration fs-100">Learn more about the benefits of working with ASE master certified technicians.{{ partialCached "svg-icons/chevron-right.svg" . }}</a>
    </div>
    <div class="wrapper-lg">
      <div class="hero__content flow">
        <div class="icon icon-lg icon-white bg-primary">
          {{ partial "functions/get-service-icon" . }}
        </div>
        <h1 class="text-white text-shadow max-width-none">{{ .Params.hero.heading }}</h1>
        <p class="text-white text-shadow fw-500">{{ .Params.hero.body }}</p>
        <a href="/schedule-appointment/" class="btn btn-secondary">{{ partialCached "svg-icons/calendar-icon.svg" . }} Schedule Appointment</a>
      </div>
    </div>
  </div>
  <div class="hero__mt-swoosh">
    {{ partialCached "svg-icons/mt-hero-swoosh.svg" . }}
  </div>
</div>