<section class="intro block">
    <div class="wrapper-lg flex flex-column flex-row-m fade-up">
        <div class="w-100 w-60-m flow">
            {{ with .Params.intro }}
            {{ if .heading }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ end }}
            {{ if .body }}
            <p>{{ .body | markdownify }}</p>
            {{ end }}
        {{ end }}
        {{ if eq .Title "Oil Change Services" }}
        {{ with .Params.why_change_block }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ .body | markdownify }}
        {{ end }}
        {{ end }}
        {{ if eq .Title "Tire Repair" }}
        {{ with .Params.tire_maintenance_block }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ .body | markdownify }}
        {{ end }}
        {{ end }}
        </div>
        <div class="w-100 w-40-m">
            <div class="intro__sidebar shadow-1 bg-blue-swoosh bg-primary text-white flow">
                <div class="icon icon-lg icon-primary bg-accent">
                {{ partial "functions/get-service-icon" . }}
                </div>
                <h2>Schedule An Appointment</h2>
                <p>Providing top-quality, high-value car maintenance and auto repair services in Appleton, Menasha, Waupaca, Fond du Lac and Green Bay.</p>
                {{ if eq .Title "Air Conditioning and Heating" }}
                <a href="/schedule-appointment/" class="btn btn-secondary">{{ partialCached "svg-icons/calendar-icon.svg" . }} Schedule Your Repair</a>
                {{ else }}
                <a href="/schedule-appointment/" class="btn btn-secondary">{{ partialCached "svg-icons/calendar-icon.svg" . }} Schedule Your {{ .Params.hero.heading }}</a>
                {{ end }}
            </div>
            <!-- <div class="intro__sidebar shadow-1 bg-primary text-white flow">
                <h2>Auto Repair Services</h2>
                <ul class="no-list-style no-padding">
                    {{ $pages := .Site.RegularPages }}
                    {{ $posts := where $pages "Type" "services" }}
                    {{ range $posts }}
                    <li><a href="{{ .Permalink }}" class="simple-link text-white no-decoration fs-100 transform-x-8">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div> -->
        </div>
    </div>
</section>