<section class="intro block">
    <div class="wrapper-lg flex flex-column flex-row-m fade-up">
        <div class="w-100 w-60-m flow">
            {{ with .Params.intro }}
            {{ if .heading }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ end }}
            {{ if .body }}
            <p>{{ .body | markdownify }}</p>
            {{ end }}
        {{ end }}
        {{ if eq .Title "Oil Change Services" }}
        {{ with .Params.why_change_block }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ .body | markdownify }}
        {{ end }}
        {{ end }}
        {{ if eq .Title "Tire Repair" }}
        {{ with .Params.tire_maintenance_block }}
            <h2 class="text-primary">{{ .heading | markdownify }}</h2>
            {{ .body | markdownify }}
        {{ end }}
        {{ end }}
        <a href="/schedule-appointment/" class="btn btn-primary">Schedule Your {{ .Params.hero.heading }}</a>
        </div>
        <div class="intro__sidebar shadow-1 bg-primary text-white w-100 w-40-m flow">
            <h2>Auto Repair Services</h2>
            <ul class="no-list-style no-padding">
                {{ $pages := .Site.RegularPages }}
                {{ $posts := where $pages "Type" "services" }}
                {{ range $posts }}
                <li><a href="{{ .Permalink }}" class="simple-link text-white no-decoration">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>