{{ if .Params.testimonials }}
<div class=" hero">
    <div class="hero__image">
        <picture>
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=600&width=360 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=400&width=800 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=600&width=1200&fit=crop 1200w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=1000&width=2000&fit=crop 2000w" type="image/avif">
      
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=600&width=360&fit=crop 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=400&width=800&fit=crop 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=600&width=1200&fit=crop 1200w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=1000&width=2000&fit=crop 2000w" type="image/webp">
      
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=600&width=360&fit=crop 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=400&width=800&fit=crop 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=600&width=1200&fit=crop 1200w,https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=1000&width=2000&fit=crop 2000w" type="image/jpg">
          <img src="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg" width="1500" height="600" alt="">
        </picture>
    </div>
  <div class="hero__overlay flex flex-center">
    <div class="wrapper-lg">
      <div class="hero__content flow">
        {{ range .Params.testimonials }}
        <p>{{ .body }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}