{{ if .Params.testimonials }}
<div class="testimonials hero">
    <div class="hero__image">
        <picture>
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=600&width=360 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=400&width=800 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=600&width=1200&fit=crop 1200w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=avif&q=20&height=1000&width=2000&fit=crop 2000w" type="image/avif">
      
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=600&width=360&fit=crop 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=400&width=800&fit=crop 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=600&width=1200&fit=crop 1200w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=webp&q=20&height=1000&width=2000&fit=crop 2000w" type="image/webp">
      
          <source sizes="100vw" srcset="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=600&width=360&fit=crop 600w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=400&width=800&fit=crop 800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=500&width=1000&fit=crop 1000w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=600&width=1200&fit=crop 1200w,https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=700&width=1400&fit=crop 1400w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=900&width=1800&fit=crop 1800w, https://matthewstire.imgix.net/uploads/tires-on-rack.jpg?fm=jpg&q=20&height=1000&width=2000&fit=crop 2000w" type="image/jpg">
          <img src="https://matthewstire.imgix.net/uploads/tires-on-rack.jpg" width="1500" height="600" alt="">
        </picture>
    </div>
  <div class="hero__overlay flex flex-center">
    <div class="wrapper-lg">
      <div class="hero__content">
        <h2 class="text-white text-shadow text-center">Customer Testimonials</h2>
        <p class="text-white text-center max-width-none margin-auto">Hear from our satisfied customers and learn why so many drivers throughout Northeast Wisconsin trust their vehicles, tires and safety on the road with Matthews Tire.</p>
        <div class="swiper testimonials-swiper fade-up">
            <div class="swiper-wrapper">
              {{ range .Params.testimonials }}
              <div class="swiper-slide bg-primary">
                <div class="icon icon-md icon-primary bg-accent">
                    {{ partialCached "svg-icons/quote.svg" . }}
                </div>
                <div class="testimonial flow flex flex-column flex-justify-center text-white">
                    <div class="testimonial__stars">
                      {{ partialCached "svg-icons/star.svg" . }}
                      {{ partialCached "svg-icons/star.svg" . }}
                      {{ partialCached "svg-icons/star.svg" . }}
                      {{ partialCached "svg-icons/star.svg" . }}
                      {{ partialCached "svg-icons/star.svg" . }}
                    </div>
                    <p class="fs-100">{{ .body }}</p>
                    {{ if .name }}
                    <span class="fs-100 fw-700">— {{ .name }}</span>
                    {{ end }}
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          <div class="swiper-button-next">{{ partialCached "svg-icons/double-chevron-right.svg" . }}</div>
          <div class="swiper-button-prev">{{ partialCached "svg-icons/double-chevron-left.svg" . }}</div>
          <div class="testimonials-pagination"></div>
          <div class="mt-6 text-center flow">
            <p class="text-white max-width-none margin-auto" style="max-width: 1050px;">Read more testimonials and hear in-depth customer feedback on the customer stories page.</p>
            <a href="/about/customer-stories/" class="btn btn-secondary">Customer Stories</a>
          </div>
      </div>
    </div>
  </div>
</div>
{{ end }}