{{ define "main" }}
<div class="team-hero hero bg-black">
  <div class="hero__inner">
    <div class="wrapper-lg">
     <div class="hero__content">
       <div>
        <h1 class="hero__title text-white no-margin">
          {{ .Title }}
        </h1>
       </div>
       {{ if .Params.is_attorney }}
       <h2 class="h5 text-white">Attorney, {{ .Site.Data.site_settings.business_name }}</h2>
       {{ else }}
       <h2 class="h5 text-white">Paralegal, {{ .Site.Data.site_settings.business_name }}</h2>
       {{ end }}
       <div class="divider"></div>
     </div>
    </div>
  </div>
  <div class="coj-watermark">
    {{ partialCached "svg-icons/COJ-logomark-watermark.svg" . }}
  </div>
</div>
<div class="bio-contact">
  <div class="bio-contact__inner wrapper-lg flex flex-row flex-wrap flex-center">
    {{ if .Params.email }}
    <a href="mailto:{{ .Params.email }}" class="decorated-link" target="_blank">Contact {{ .Title }}</a>
    {{ end }}
    <a href="tel:{{ .Params.phone }}" class="decorated-link">{{ .Params.phone }}</a>
    {{ if .Params.linkedin_profile }}
    <a href="{{ .Params.linkedin_profile }}" class="decorated-link">Connect on LinkedIn</a>
    {{ end }}
    {{if .Params.vcard }}
    <a href="/downloads/vcards/{{ .Params.vcard }}" class="decorated-link">Download vCard</a>
    {{ end }}
   </div>
</div>
<div class="wrapper-lg">
  <div class="block">
    <div class="flex flex-column-reverse flex-row-m">
      <div class="bio-main-content w-100 w-60-m flow">
        <div>
          <h2 class="no-margin">About {{ .Title }}</h2>
          <div class="divider"></div>
        </div>
        {{ .Content }}
        {{ if .Params.affiliations_memberships }}
        <h3 class="h4">Affiliations & Memberships</h3>
        {{ .Params.affiliations_memberships | markdownify }}
        {{ end }}
        {{ if .Params.professional_civic_activities }}
        <h3 class="h4">Professional & Civic Activities</h3>
        {{ .Params.professional_civic_activities | markdownify }}
        {{ end }}
        {{ if .Params.publications }}
        <h3 class="h4">Publications</h3>
        {{ .Params.publications | markdownify }}
        {{ end }}
        {{ if .Params.honors_recognitions }}
        <h3 class="h4">Honors & Recognitions</h3>
        {{ .Params.honors_recognitions | markdownify }}
        {{ if .Params.badges }}
        <div class="awards-grid">
          {{ range .Params.badges }}
          <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
            <img src="/uploads/{{ .image }}" alt="{{ .image_alt }}">
          </a>
          {{ end }}
        </div>
        {{ end }}
        {{ end }}
      </div>
      <div class="w-100 w-40-m">
        <div class="bio-sidebar">
          <div class="bio-sidebar__wrapper bg-gray">
            <img src="/uploads/{{ .Params.image }}" alt="Photo of {{ .Title }}">
            {{ if .Params.education }}
            <div class="bio-sidebar__block">
              <h3 class="h4">Education</h3>
              {{ .Params.education | markdownify }}
            </div>
            {{ end }}
            {{ if .Params.admissions }}
            <div class="bio-sidebar__block">
              <h3 class="h4">Admissions</h3>
              {{ .Params.admissions | markdownify }}
            </div>
            {{ end }}
            {{ if .Params.practice_areas }}
            <div class="bio-sidebar__block bio-sidebar__practice-areas">
              <h3 class="h4">Practice Areas</h3>
              <ul>
                {{ range (.GetTerms "practice_areas") }}
                    <li><a href="/practice-areas/{{ .LinkTitle | lower | humanize | anchorize }}">{{ .LinkTitle }}{{ partialCached "svg-icons/chevron-right.svg" . }}</a></li>
                {{ end }}  
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
        {{ partial "page-navigation" . }}
      </div>
    </div>
  </div>
</div>
{{ partial "our-team/staff-blogs" . }}
{{ end }}