.appleton-auto-shops {
    .location-col {
        padding: $ic-300 $ic-300 $ic-900 $ic-300;
    }

    .ase-col .cover-image {
        height: 150px;
    }

    .ase-col__body {
        top: 0;
        margin-bottom: 0;
    }
}