.leadership {
    .card .cover-image {
        height: 450px;
    }

    .card__body {
        margin-bottom: $ic-200;
    }
}

.mt-leadership-headshot {
    @include breakpoint(md) {
        position: relative;
        z-index: 2;
        margin-top: -400px;
        max-width: 500px;
        margin-left: auto;
    }
}