<section class="community-efforts-block block">
  <div class="wrapper-lg">
    <div class="flex flex-column flex-row-m flex-center-m">
      <div class="w-100 w-50-m">
        <picture>
          <source sizes="50vw" srcset="https://lcojlaw.imgix.net/uploads/giving.jpg?fm=avif&q=80&height=200&width=200&fit=crop 200w, https://lcojlaw.imgix.net/uploads/giving.jpg?fm=avif&q=80&height=400&width=400&fit=crop 400w, https://lcojlaw.imgix.net/uploads/giving.jpg?fm=avif&q=80height=600&width=600&fit=crop 600w" type="image/avif">

          <source sizes="50vw" srcset="https://lcojlaw.imgix.net/uploads/giving.jpg?fm=webp&q=80height=200&width=200&fit=crop 200w, https://lcojlaw.imgix.net/uploads/giving.jpg?fm=webp&q=80height=400&width=400&fit=crop 400w, https://lcojlaw.imgix.net/uploads/giving.jpg?fm=webp&q=80height=600&width=600&fit=crop 600w" type="image/webp">

          <source sizes="50vw" srcset="https://lcojlaw.imgix.net/uploads/giving.jpg?q=80height=200&width=200&fit=crop 200w, https://lcojlaw.imgix.net/uploads/giving.jpg?q=80height=400&width=400&fit=crop 400w, https://lcojlaw.imgix.net/uploads/giving.jpg?q=80height=600&width=600&fit=crop 600w" type="image/jpg">
          <img sizes="50vw" loading="lazy"
              src="https://lcojlaw.imgix.net/uploads/giving.jpg" width="500" height="500" alt="">
        </picture>
      </div>
      <div class="w-100 w-50-m flow">
        <div>
          <h2 class="no-margin">Committed to our Community</h2>
          <div class="divider"></div>
        </div>
        <p>We are more than just a law firm. We are your neighbors in Northeast Wisconsin who are dedicated to making this community a wonderful place to live and work. Our team is actively involved in a number of community organizations.</p>
        <a href="/the-firm/" class="btn btn-primary">Learn how we make a difference</a>
      </div>
    </div>
  </div>
</section>