<section class="cta-wrapper">
  <div class="wrapper-lg">
    {{ $ctaClass := lower .Page.Title }}
    <div class="cta {{ anchorize $ctaClass }}-cta">
      <div class="cta__overlay"></div>
      <picture>
        <source sizes="100vw" srcset="https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=600&width=400&fit=crop 600w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=400&width=800&fit=crop 800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=500&width=1000&fit=crop 1000w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=700&width=1400&fit=crop 1400w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=900&width=1800&fit=crop 1800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=avif&q=80&height=1000&width=2500&fit=crop 2500w" type="image/avif">
    
        <source sizes="100vw" srcset="https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=600&width=400&fit=crop 600w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=400&width=800&fit=crop 800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=500&width=1000&fit=crop 1000w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=700&width=1400&fit=crop 1400w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=900&width=1800&fit=crop 1800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=webp&q=80&height=1000&width=2500&fit=crop 2500w" type="image/webp">
    
        <source sizes="100vw" srcset="https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=600&width=400&fit=crop 600w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=400&width=800&fit=crop 800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=500&width=1000&fit=crop 1000w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=700&width=1400&fit=crop 1400w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=900&width=1800&fit=crop 1800w, https://lcojlaw.imgix.net/uploads/cta-law-books.jpg?fm=jpg&q=80&height=1000&width=2500&fit=crop 2500w" type="image/jpg">
        <img sizes="100vw" src="https://lcojlaw.imgix.net/uploads/cta-law-books.jpg" width="1500" height="600" alt="">
      </picture>
      <div class="wrapper-md">
        <div class="cta__content text-center text-white flow">
          <div class="cta__content-inner flow">
            <h2 class="cta__title short-cta__title text-white no-margin">How can we Help you?</h2>
            <h3 class="h4">Our full-service team offers expertise in every area of practice.</h3>
            <a href="/contact-us/" class="btn btn-white">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>