<footer id="footer" class="footer">
  <div class="footer__top block">
    <div class="wrapper-lg">
      <div class="flex flex-column flex-row-m">
        <div class="w-100 w-30-m">
          <a class="footer__logo" href="{{ site.BaseURL }}">
            {{ if .Site.Data.site_settings.footer_logo }}
              <img src="{{ .Site.Data.site_settings.footer_logo | absURL }}" alt="{{ .Site.Data.site_settings.business_name }} logo" class="img-responsive dim" width="200" height="100">
            {{ else }}
              <h1>{{ site.Title }}</h1>
            {{ end }}
          </a>
          <div class="footer__contact">
            <span>
              {{ .Site.Data.site_settings.address.street }}, {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }}<br>
              <div>
                <span class="flex phone">Phone: <a href="{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a></span>
                <span class="flex phone">Fax: {{ .Site.Data.site_settings.fax }}</span>
              </div>
            </span>
          </div>
        </div>
        <div class="w-100 w-70-m flex flex-justify-end-m">
          <ul class="footer-nav" role="list">
            {{ range .Site.Menus.footer }}
            {{ $contact := eq "Contact Us" .Name }}
            <li class="footer-nav__item">
              {{ if $contact }}
              <a class="btn btn-primary" href="{{ .URL }}" aria-label="{{ .Name }}">
                {{ .Name }}
              </a>
              {{ else }}
              <a class="footer-nav__link" href="{{ .URL }}" aria-label="{{ .Name }}">
                  {{ .Name }}
              </a>
              {{ end }}
            </li>  
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom wrapper-lg">
    <div class="footer__bottom-wrapper flex flex-column flex-row-m flex-justify-between flex-center">
      <div class="copyright flex flex-column flex-row-m">
        <p>© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}</p>
        <ul class="copyright__nav flex">
          <li class="copyright__list-item"><a href="/privacy-policy/" class="copyright__nav-item">Privacy Policy</a></li>
          <li class="copyright__list-item"><a href="/sitemap/" class="copyright__nav-item">Sitemap</a></li>
          <li class="copyright__list-item"><a href="/contact/" class="copyright__nav-item">Contact Us</a></li>
        </ul>
      </div>
      {{ partialCached "social-media" . }}
    </div>
  </div>
</footer>
{{ partial "scripts" . }}