{{ "<!-- Header -->" | safeHTML }}
<a class="screen-reader-skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
<a class="screen-reader-skip-to-content" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header border-bottom-gray">
  <div class="site-header__wrapper flex flex-justify-between flex-center">
    <button class="site-header__locations--mobile flex flex-column flex-center fw-700" type="button" aria-label="open locations menu" aria-expanded="false">
      {{ partialCached "svg-icons/locations-icon.svg" . }}
      Locations
    </button>
    <div class="site-header__logo">
      <span class="visually-hidden">Home</span>
      <a class="brand-logo" href="{{ site.BaseURL }}">
        {{ if .Site.Data.site_settings.logo }}
          <img src="{{ .Site.Data.site_settings.logo | absURL }}" alt="{{ .Site.Data.site_settings.business_name }} logo" class="img-responsive dim" width="275" height="125">
        {{ else }}
          <h1>{{ site.Title }}</h1>
        {{ end }}
      </a>
    </div>
    <nav class="site-header__nav flex-center" aria-label="primary navigation">
      <div class="site-header__menus flex flex-justify-between flex-column">
        <div class="site-header__top">
          <div class="site-header__top-inner flex flex-justify-end w-100">
            <ul class="site-header__secondary-menu flex flex-center">
              {{ with .Site.Menus.secondary }}
              {{ range . }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
              {{ end }}
              <li><button class="site-header__locations" aria-label="open locations tool" aria-expanded="false">Locations <span class="sub-menu-indicator"></span></button></li>
            </ul>
          </div>
        </div>
        <div class="site-header__primary">
          <ul class="nav-list">
            {{ $url := .RelPermalink }}
            {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
                  <li class="nav-list__item has-sub-menu">
                    <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}">
                      {{ .Name }}
                      <span class="sub-menu-indicator"></span>
                    </a>
                    <div class="nav-list__sub-menu {{ .Name | lower }}-sub-menu sub-menu">
                      <div class="sub-menu__inner wrapper-lg flow">
                        <div class="flex w-100">
                          <div class="w-70 flow">
                            <h3 class="h4 text-primary"><a href="{{ .URL }}" aria-label="{{ .Name }}" class="no-decoration">{{ .Name }}</a></h3>
                            <!-- <p class="services-menu-desc fs-100">Whether your vehicle needs a routine maintenance service like an oil change, tire rotation or battery replacement, or you need a more extensive auto repair service, you can count on the expert technicians at Matthews tire to get the job done and keep you rolling—no excuses guaranteed.</p>
                            <p class="about-menu-desc fs-100">Matthews Tire has been upholding our mission to provide auto service excellence to drivers throughout Northeast Wisconsin since 1952! Each of our certified technicians is passionate about providing comprehensive auto services and meeting the exemplary standards our customers have come to expect.</p> -->
                            <ul class="border-top-gray">
                              {{ range sort .Children "value" "desc" }}
                                <li class="sub-menu__item flex flex-center">
                                    {{ if eq .Parent "Services" }}
                                    <div class="sub-menu__icon">
                                      <!-- <img src="/uploads/{{ .Name | lower | urlize }}.svg" alt=""> -->
                                      {{ partial "functions/get-service-icon" . }}
                                    </div>
                                    {{ end }}
                                    <a class="sub-menu__link fs-100 fw-700 no-decoration w-100 transform-x-8" href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Name }}</a>
                                </li>
                              {{ end }}
                            </ul>                            
                          </div>
                          <div class="sub-menu__sidebar w-30 flow">
                            <h2 class="text-primary h6">ASE Master Certified Technicians</h2>
                            <p class="fs-100">Learn more about the benefits of working with ASE master certified technicians.</p>
                            <a href="/ase-certification/" class="simple-arrow-link fs-100 fw-700">Learn About ASE Certification{{ partialCached "svg-icons/chevron-right.svg" . }}</a>
                            <h2 class="text-primary h6">Need a Ride? We’ve Got You Covered.</h2>
                            <p class="fs-100">At Matthews Tire, you don’t have to worry about being without a vehicle while you wait for auto repairs.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
              {{ else }}
              <li class="nav-list__item">
                <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}">
                    {{ .Name }}
                </a>
              </li>
              {{ end }}    
            {{ end }}
          </ul>
        </div>
      </div>
      <a href="/schedule-appointment/" class="site-header__cta flex flex-column flex-center">{{ partialCached "svg-icons/calendar-icon.svg" . }}Schedule Appointment</a>
    </nav>
    <div class="site-header__mobile-nav">
      <div class="site-header__mobile-nav-inner">
        <ul  class="site-header__mobile-nav-menu">
          {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" class="fw-700" aria-label="{{ .Name }}">
                {{ .Name }}
            </a>
          </li>  
          {{ end }}
          {{ with .Site.Menus.secondary }}
          {{ range . }}
          <li><a href="{{ .URL }}" class="fw-500">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
        <a href="/schedule-appointment/" class="site-header__cta--mobile flex flex-column flex-center max-width-none">{{ partialCached "svg-icons/calendar-icon.svg" . }}Schedule Appointment</a>
      </div>
    </div>
    <button class="site-header__hamburger hamburger hamburger--slider fw-700" type="button" aria-label="open mobile menu" aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
      Menu
    </button>
  </div>
</header>