{{ $heroClass := lower .Page.Title }}
<div class="{{ anchorize $heroClass }}-hero">
  {{ partial "hero-image" . }}
  <div class="home-hero__overlay flex flex-center">
    <div class="wrapper-lg">
      <div class="home-hero__content text-center">
        <h1 class="text-primary max-width-none shift-up letter-sp-1">{{ .Params.hero.heading }}</h1>
        <p>{{ .Params.hero.body }}</p>
        <a href="/promotions/" class="btn btn-secondary">Current Promotions</a>
        <a href="/tires/" class="btn btn-secondary">Find Your Tires</a>
      </div>
    </div>
  </div>
</div>
