<div class="mt-locations-modal w-100">
    <div class="mt-locations-modal__wrapper">
        <header class="mt-locations-modal__header bg-primary text-center">
            <div class="wrapper-lg">
                <h2 class="text-white no-margin max-width-none">Find a Matthews Tire Location</h2>
                <button class="mt-locations-modal__close">{{ partialCached "svg-icons/close.svg" . }}</button>
            </div>
        </header>
        <div class="block-sm">
            <div class="wrapper-lg auto-grid">
                {{ partial "locations-list" . }}
            </div>
        </div>
    </div>
</div>