<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

{{ $opts := (dict "minify" true "target" "es2017" "format" "cjs") }}

{{ if .Site.Params.MinifyBundles }}
{{ $main := resources.Get "js/main.js" | js.Build $opts }}
{{ $libs := resources.Get "js/libs.js" | js.Build $opts }}
{{ $bundle := slice $libs $main | resources.Concat "bundle.js" | resources.Fingerprint "sha512" }}
<script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}"></script>
{{ else }}
{{ $libs := resources.Get "js/libs.js" | js.Build $opts | resources.Fingerprint "sha512" }}
<script src="{{ $libs.RelPermalink }}" integrity="{{ $libs.Data.Integrity }}"></script>

{{ $mainDev := resources.Get "js/main.js" | resources.Fingerprint "sha512" }}
<script src="{{ $mainDev.RelPermalink }}" integrity="{{ $mainDev.Data.Integrity }}"></script>
{{ end }}

<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

<!-- Tires Anytime 3.0 Tire Widget -->
<script src="https://ta3.tiresanytime.com/app/widget/searchWidget.js" type="text/javascript"></script>