<div class="sidebar-cta">
    <div class="sidebar-cta__inner flow">
        <div>
            <h2 class="h4">How can we help you?</h2>
            <p>Our client service team is ready to assist you. Contact us today to get in touch with a dedicated attorney!</p>
        </div>
        <div>
            <h3 class="h5">{{ .Site.Data.site_settings.business_name }}</h3>
            <p>
                {{ .Site.Data.site_settings.address.street }}
                <br>
                {{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}
            </p>
            <a href="https://goo.gl/maps/Gbke7Mx9e9oQmqag9" class="decorated-link" rel="noopener noreferrer" target="_blank">View on Google Maps</a>
        </div>
        <div>
            <a href="tel:{{ .Site.Data.site_settings.phone }}" class="decorated-link">{{ .Site.Data.site_settings.phone }}</a>
            <br>
            <a href="/contact-us/" class="decorated-link">Email Us</a>
            {{ partialCached "social-media" . }}
        </div>
    </div>
</div>