{{ $heroClass := lower .Page.Title }}
<div class="{{ anchorize $heroClass }}-hero hero">
  {{ partial "home/hero-image" . }}
  <div class="home-hero__overlay flex flex-center flex-justify-center">
    <div class="wrapper-lg">
      <div class="home-hero__content text-center flow">
        <h1 class="text-white text-shadow max-width-none">{{ .Params.hero.heading }}</h1>
        <p class="text-white text-shadow fw-500">{{ .Params.hero.body }}</p>
        <div class="hero-buttons flex flex-column flex-row-s flex-justify-center">
          <a href="/promotions/" class="btn btn-secondary">Current Promotions</a>
          <a href="/tires/" class="btn btn-secondary">Find Your Tires</a>
        </div>
      </div>
    </div>
  </div>
</div>
