{{ define "main" }}
{{ partial "hero" . }}
{{ partial "breadcrumbs" . }}
{{ partial "tires/intro" . }}
{{ with .Params.why_matthews_block }}
<div class="block bg-gray">
    <div class="wrapper-lg">
        <div class="text-center">
            <h2 class="text-primary">{{ .heading }}</h2>
            <p class="max-width-none" style="max-width: 1000px; margin: 0 auto;">{{ .body }}</p>
        </div>
        <div class="block-sm">
            <div class="grid-2">
                {{ range .reasons }}
                <div class="icon-card shadow-1 fs-100 flex">
                    <div class="w-20 icon icon-lg icon-white bg-primary">
                        {{ if eq .subheading "Top-quality tires." }}
                            {{ partialCached "svg-icons/wheel-repair.svg" . }}
                        {{ else if eq .subheading "Locally owned." }}
                            {{ partialCached "svg-icons/wi.svg" . }}
                        {{ else if eq .subheading "Specialty tires available." }}
                            {{ partialCached "svg-icons/specialty-tires.svg" . }}
                        {{ else if eq .subheading "Satisfaction guaranteed." }}
                            {{ partialCached "svg-icons/satisfaction-guranteed.svg" . }}
                        {{ else if eq .subheading "Free tire rotations for life!" }}
                            {{ partialCached "svg-icons/tire-rotations.svg" . }}
                        {{ else }}
                            {{ partialCached "svg-icons/suspension.svg" . }}
                        {{ end }}
                    </div>
                    <div class="w-80 icon-card__body">
                        <h3 class="h5 text-primary">{{ .subheading }}</h3>
                        <p>{{ .body }}</p>
                    </div>
                </div>
                {{ end }}
            </div> 
        </div>
    </div>
</div>
{{ end }}
{{ with .Params.tire_brands_block }}
<div class="block">
    <div class="wrapper-lg">
        <h2 class="text-primary text-center">{{ .heading }}</h2>
        <ul class="grid-4 max-width-none no-padding">
            {{ range .brands }}
            <li class="no-list-style no-margin">
                <a href="{{ .brand_website }}" target="_blank" rel="noreferrer noopener" class="brand-card">
                    <img src="{{ .image_url }}" alt="{{ .brand }} logo">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
{{ partialCached "site-cta" . }}
{{ end }}