.bg-primary {
  background-color: $primary-color;
}

.bg-black {
  background-color: $black;
}

.bg-gray {
  background-color: $light-gray;
}

.bg-concrete {
  background-image: url("/uploads/rocky-wall.png");
  background-repeat: repeat;
  background-color: $light-gray;
}
