.bg-primary {
  background-color: $primary-color;
}

.bg-black {
  background-color: $black;
}

.bg-gray {
  background-color: $light-gray;
}

.bg-white {
  background-color: $white;
}

.bg-accent {
  background-color: $accent-color;
}

.bg-blue-swoosh {
  background-color: $primary-color;
  background-image: url("/uploads/blue-generic-swoosh-background.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
