blockquote {
  position: relative;

  &::before, 
  &::after {
      content: ' " ';
      position: absolute;
      color: $primary-color;
      font-size: $ic-400;
      font-weight: 700;
  }

  &::before {
    transform: translate(-16px, -8px);
  }

  &::after {
    transform: translate(8px, -8px);
  }
}