.facebook-icon {
  top: -3px;
}

.icon-large {
  border-radius: 50%;
  height: $ic-800;
  width: $ic-800;
  display: grid;
  place-items: center;

  svg {
    width: $ic-600;
    height: auto;
  }
}

.icon-primary {
  box-shadow: 0 5px 15px rgba($accent-color, .5);

  svg {
    fill: $primary-color;
  }
}

.icon-white {
  box-shadow: 0 5px 15px rgba($primary-color, .5);

  svg {
    fill: $white;
  }
}