.mt-1 {
  margin-top: $ic-100;
}

.mt-2 {
  margin-top: $ic-200;
}

.mt-3 {
  margin-top: $ic-300;
}

.mt-4 {
  margin-top: $ic-400;
}

.mt-5 {
  margin-top: $ic-500;
}

.mt-6 {
  margin-top: $ic-600;
}

.mt-7 {
  margin-top: $ic-700;
}

.mt-8 {
  margin-top: $ic-800;
}

.mt-9 {
  margin-top: $ic-900;
}

.mb-1 {
  margin-bottom: $ic-100;
}

.mb-2 {
  margin-bottom: $ic-200;
}

.mb-3 {
  margin-bottom: $ic-300;
}

.mb-4 {
  margin-bottom: $ic-400;
}

.mb-5 {
  margin-bottom: $ic-500;
}

.mb-6 {
  margin-bottom: $ic-600;
}

.mb-7 {
  margin-bottom: $ic-700;
}

.mb-8 {
  margin-bottom: $ic-800;
}

.mb-9 {
  margin-bottom: $ic-900;
}