.pt-1 {
  padding-top: $ic-100;
}

.pt-2 {
  padding-top: $ic-200;
}

.pt-3 {
  padding-top: $ic-300;
}

.pt-4 {
  padding-top: $ic-400;
}

.pt-5 {
  padding-top: $ic-500;
}

.pt-6 {
  padding-top: $ic-600;
}

.pt-7 {
  padding-top: $ic-700;
}

.pb-1 {
  padding-bottom: $ic-100;
}

.pb-2 {
  padding-bottom: $ic-200;
}

.pb-3 {
  padding-bottom: $ic-300;
}

.pb-4 {
  padding-bottom: $ic-400;
}

.pb-5 {
  padding-bottom: $ic-500;
}

.pb-6 {
  padding-bottom: $ic-600;
}

.pb-7 {
  padding-bottom: $ic-700;
}

.no-padding {
  padding: 0;
}