<form name="contact" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field" action="/thank-you/">
    <div hidden>
        <label for="bot-field-2">
        Don’t fill this out if you're human: 
        <input name="bot-field" id="bot-field-2" />
        </label>
    </div>
    <div class="visually-hidden">
        <label for="subject">New form submission from the matthewstire.com website contact form</label>
        <input aria-label="subject" name="subject" value="New form submission from the matthewstire.com website contact form" />
    </div>
    <div class="contact-form__form-group">
        <label for="location">Which Matthews Tire location would you like to contact? *</label>
        <select name="location" id="location" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            {{ range .Site.Data.locations }}
            <option value="{{ .name }}">{{ .name }}</option>
            {{ end }}
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="location">Reason for contacting us: *</label>
        <select name="location" id="location" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Schedule Appointment">Schedule Appointment</option>
            <option value="Tire Quote">Tire Quote</option>
            <option value="Feedback">Feedback</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="first_name">First Name *</label>
                <input name="first_name" id="first_name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="last_name">Last Name *</label>
                <input name="last_name" id="last_name" type="text" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="email">Email *</label>
                <input name="_replyto" id="email" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="phone">Phone *</label>
                <input name="phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
        </div>
    </div>  
    <div class="contact-form__form-group">
        <label for="location">How would you prefer to be contacted? *</label>
        <select name="location" id="location" class="contact-form__form-control" required>
            <option value="">Please choose an option</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
        </select>
    </div>
    <div class="contact-form__form-group">
        <label for="message">Message *</label>
        <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <div style="margin-bottom: 1em;" data-netlify-recaptcha="true"></div>
    <button type="submit" class="contact-form__btn btn btn-primary">Send Request</button>
</form>